#discribe {
    margin-bottom: 0px; 
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  #radio{
    padding-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px; 
  }